<a href="https://colab.research.google.com/github/seabay/code_exercise/blob/master/lc494.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from collections import defaultdict

In [61]:
res=[]

def mysum(lst, tar):
  helper(lst, 0, tar, [])

def helper(lst, idx, tar, path):

  if sum(path)==tar and len(lst)==idx:
    res.append(path.copy()) 

  if len(lst)==idx:return
  
  for s in ['-', '+']:
    if s=='-':
      cv=-1
    else:
      cv=1
    path.append(cv)
    helper(lst, idx+1, tar, path)
    del path[-1]

In [62]:
mysum([1,1,1,1,1], 3)
res

[[-1, 1, 1, 1, 1],
 [1, -1, 1, 1, 1],
 [1, 1, -1, 1, 1],
 [1, 1, 1, -1, 1],
 [1, 1, 1, 1, -1]]

In [30]:
def mysum2(lst, tar):
  return dp(lst, 0, tar)

memo={}
def dp(lst, idx, rest):

  if idx==len(lst):
    if rest==0:
      return 1
    else:
      return 0
  
  key=str(idx)+","+str(rest)
  if key in memo:
    return memo[key]
  result=dp(lst, idx+1, rest+1) + dp(lst, idx+1, rest-1)
  memo[key]=result

  return result

In [31]:
mysum2([1,1,1,1,1], 3)

5

In [58]:
def dp2(lst, tar):

  lst.insert(0, 0)
  size=len(lst)
  print(lst)
  
  ntar=int((tar+sum(lst))/2)
  print(ntar)

  dpt=[[0]*(ntar+1) for i in range(size)]

  for i in range(size):
    dpt[i][0]=1

  for i in range(1, size):
    for j in range(1, ntar+1):
      if j<lst[i]:
        dpt[i][j]=dpt[i-1][j]
      else:
        dpt[i][j]=dpt[i-1][j-lst[i]]+dpt[i-1][j]

  print(dpt)
  return dpt[size-1][ntar]

In [59]:
dp2([1,1,1,1,1], 3)

[0, 1, 1, 1, 1, 1]
4
[[1, 0, 0, 0, 0], [1, 1, 0, 0, 0], [1, 2, 1, 0, 0], [1, 3, 3, 1, 0], [1, 4, 6, 4, 1], [1, 5, 10, 10, 5]]

5